<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReceiver" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPocServer" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Poc2/Service1/poc2"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IPocServer"
                contract="ServiceReference1.IPocServer" name="WSDualHttpBinding_IPocServer">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/Poc2/Service1/receiver"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReceiver"
                contract="ServiceReference1.IReceiver" name="BasicHttpBinding_IReceiver" />
        </client>
    </system.serviceModel>
</configuration>